@use '../../styles.scss' as *;

#header-section {
    width: $width;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Garet-Book';
} 

#header-links-section {
    display: flex;
    width: $width - 5vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vh;
}

#main-links-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo-image {
    width: 50vw;
    max-width: 350px;
    padding: 5vh;
    color: black;
}

#social-media-links-section {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: $mobile-width) {
    #header-section {
        width: 100vw;
        margin-top: 5vh;
    }

    #header-links-section {
        display: none;
    }
}