<div id="content-warnings-section">
    <h1>Content Warnings</h1>
    <mat-divider></mat-divider>

    <div id="content-warnings">
        <h2>THE ADVOCATES</h2>
        <h3 class="book-titles">Diluted Truths</h3>
        <p class="content-warning">
            Mentions of child abuse, mentions of alcoholism, references of sibling death, mentions of childhood trauma,
            mentions of sexual assault, mentions of murder, kidnapping, harassment and sexually explicit scenes.
        </p>

        <h3 class="book-titles">Following Fortunes</h3>
        <p class="content-warning">
            Mentions of child abuse, mentions of alcoholism, references of sibling death, mentions of childhood trauma,
            and sexually explicit scenes.
        </p>
        <h3 class="book-titles">Fates Demise</h3>
        <p class="content-warning">
            Mentions of child abuse, depiction of child abuse, mentions of alcoholism, references of sibling death,
            mentions of childhood trauma, mentions of drug use, mentions of drug addiction, mentions of murder,
            kidnapping, harassment, mentions of attempted murder, mentions of depression, mentions of anxiety, mentions
            of PTSD, mentions of suicide, and sexually explicit scenes.
        </p>
        <h3 class="book-titles">Ensuing Chances</h3>
        <p class="content-warning">
            Mentions of child abuse, depictions of child abuse, mentions of alcoholism, references to sibling death,
            mentions of childhood trauma, mentions of drug use, mentions of drug addiction, mentions of murder,
            kidnapping, and harassment, mentions of attempted murder, mentions of sexual assault, mentions of
            depression, mentions of anxiety, mentions of miscarriage, mentions of PTSD, mentions of suicide and sexually
            explicit scenes. Readers who are sensitive to these subjects, please take note.
        </p>
    </div>
</div>