<div id="content-warnings-section">
    <h1>Content Warnings</h1>
    <mat-divider></mat-divider>

    <div id="content-warnings">
        <h2>The Advocates</h2>
        <p>
            <strong>Diluted Truths:</strong>
            Mentions of child abuse, mentions of alcoholism, references of sibling death, mentions of childhood trauma,
            mentions of sexual assault, mentions of murder, kidnapping, harassment and sexually explicit scenes.
        </p>

        <p>
            <strong>Following Fortunes:</strong>
            Mentions of child abuse, mentions of alcoholism, references of sibling death, mentions of childhood trauma,
            and sexually explicit scenes.
        </p>
        <p>
            <strong>Fates Demise:</strong>
            Mentions of child abuse, depiction of child abuse, mentions of alcoholism, references of sibling death,
            mentions of childhood trauma, mentions of drug use, mentions of drug addiction, mentions of murder,
            kidnapping, harassment, mentions of attempted murder, mentions of depression, mentions of anxiety, mentions
            of PTSD, mentions of suicide, and sexually explicit scenes.
        </p>
    </div>
</div>