@use '../../styles.scss' as *;

#about-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 4vh 1vw;
    margin-left: auto;
    margin-right: auto;
}

#about-me-image {
    width: 40%;
    max-width: 350px;
    color: black;
    padding-left: 2vw;
}

#about-me-text {
    width: 50%;
    margin-left: 2vw;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

h1 {
    padding: 0;
    margin: 0;
}

mat-divider {
    width: 100%;
    border-top-color: rgb(220, 218, 217);
}

@media screen and (max-width: $mobile-width) {
    #about-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5vh;
        margin-left: auto;
        margin-right: auto;
    }

    #about-me-image {
        width: 80%;
        max-width: 350px;
        color: black;
        padding-left: 2vw;
        margin-bottom: 5vh;
    }

    #about-me-text {
        width: $width;
        margin-left: 2vw;
        font-weight: 200;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
    }

    h1 {
        padding: 0;
        margin: 0;
    }

    mat-divider {
        width: 80%;
        border-top-color: rgb(220, 218, 217);
    }
    
}