<div id="book-details-section" *ngIf="book$ | async as book">
    <div id="book-details">
        <img class="book-description-image" [src]="book.imgSrc" [alt]="book.title" />
        <div id="book-details-content">
            <h2>{{ book.title }}</h2>

            <h3>{{ book.seriesTitle }}: Book {{ book.order }}</h3>

            <mat-divider></mat-divider>
            <div id="book-description" #bookDescription></div>

            <div id="book-links">
                <a [href]="book.amazonLink" target="_blank">
                    <button mat-raised-button color="primary">Buy on Amazon</button>
                </a>
                <a [href]="book.goodreadsLink" target="_blank">
                    <button mat-raised-button color="primary">Goodreads</button>
                </a>
                <a routerLink="/content-warnings" routerLinkActive="active">
                    <button mat-raised-button color="primary">Content Warnings</button>
                </a>
            </div>
        </div>
    
    </div>
</div>