@use '../../../styles.scss' as *;

#meet-me-section {
    display: flex;
    width: 20vw;
    flex-direction: column;
    margin-bottom: 5vh;
    margin-left: 2vw;
}

#meet-me-image {
    width: 100%;
}

@media screen and (max-width: $mobile-width) {
    #meet-me-section {
        display: flex;
        width: 80vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5vh 0;
        margin-bottom: 5vh;
    }

    #meet-me-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 90%;
    }
    
    #meet-me-image {
        width: 80%;
    }
    
}