/* You can add global styles to this file, and also import other style files */
$width: 75vw;
$icon-size: 1.5vw;
$mobile-width: 1150px;

html, body { height: 100%; }

body { 
    margin: 0; 
    font-family: 'Garet-Book';
    font-size: 18px;
    display: flex;
    flex-flow: column;
    background-image: url('/images/new_stars_background.png');
    background-repeat: repeat;
    background-size: 20%;
}

button {
    font-size: 18px;
    font-family: 'Garet-Book';
}

.links, .links:visited, .links:link {
    text-decoration: none;
    color: black;
}

.links:hover, .links:active {
    color: rgb(185, 181, 180);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Garet-Book';
    font-weight: 500;
}

.book-image {
    width: 25vw;
    max-width: 200px;
    padding: 5vh 1.5vw;
    color: black;
}

#content-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100vw - 6vw;
    border-left: 2px solid rgb(220, 218, 217);
    border-right: 2px solid rgb(220, 218, 217);
    background-color: white;
    z-index: 1;
}

button {
    background-color: rgb(20, 40, 34);
    color: white;
    border: none;
    padding: 1vw;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    margin: 1vh;
}

mat-divider {
    width: $width;
    border-top-color: rgb(220, 218, 217);
}

strong {
    font-family: 'GreatVibes-Regular';
    font-size: 28px;
}

@font-face {
    font-family: 'Garet-Book';
    src: url('/fonts/Garet-Book.otf') format('opentype');
}

@font-face {
    font-family: 'GreatVibes-Regular';
    src: url('/fonts/GreatVibes-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Garet-Bold';
    src: url('/fonts/Garet-Heavy.ttf') format('truetype');
}

@media screen and (max-width: $mobile-width) {
    #content-container {
        width: 100vw;
        border: none;
        overflow-x: hidden;
    }

    button {
        padding: 4vw;
    }
}