<div id="book-highlight" class="home-panel">
    <img class="highlight-image" [src]="bookHighlight.book.imgSrc" [alt]="bookHighlight.book.title" />

    <div id="highlight-content">
        <h1>{{bookHighlight.title}}</h1>

        <p id="highlight-text">{{bookHighlight.highlight}}</p>
        <p id="preorder-text">Click below to preorder now</p>
    


        <!-- <a [routerLink]="`books/${bookHighlight.book.link}`" routerLinkActive="active" [state]="{book: bookHighlight.book}"> -->
        <a href="https://hj-cartwright-shop.square.site/product/the-fall-of-rome-paperback-pre-order/EJYF6D5F5YIXGEEPJ73JJWKD" target=_blank>
            <button id="highlight-button" mat-raised-button>Preorder</button>
        </a>
    </div> 
</div>